


/* -------------------------
   page de connexion
------------------------- */

/* -------------------------
   Navbar
------------------------- */
.custom-navbar {
    background-color: #1e1e2f; 
}

/* Liens de la navbar */
.custom-navbar .nav-link {
    color: #ffffff; /* Couleur du texte */
}
.custom-navbar .nav-link.active {
    color: #ffd700; /* Couleur du lien actif */
}

/* -------------------------
   Footer
------------------------- */
.custom-footer {
    background-color: #1e1e2f; 
    color: #ffffff; /* Couleur texte */
}

/* -------------------------
   Card formulaire
------------------------- */
.card-form {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff; 
}

/* Bouton*/
.btn-custom {
    background-color: #0d6efd; 
    color: #ffffff;
    border: none;
}

.btn-custom:hover {
    background-color: #0b5ed7; 
}

/* Lien retour */
.link-custom {
    color: #0d6efd; 
}
.link-custom:hover {
    color: #0b5ed7;
}


/* Bouton personnalisé */
.btn-custom {
    background-color: #0d1014; /* Couleur du bouton */
    color: #ffffff; /* Couleur du texte */
    border: none;
}

.btn-custom:hover {
    background-color: #0d1014; /* Couleur du bouton au survol */
    color: #ffffff; /* Couleur du texte au survol */
}
